# Object files
*.o

# Executables
*.exe

# Latex
*.aux
*.log

# Temporary
*~

# Executables (no extensions)
copycat
walker
mysh
catgrepless
mtests
test_tas
test_sem
test_fifo
p1
p2
p3
p4
p5
sched_test

# Test vectors
mobydick.txt